<h2 class='subtitle'>...with a name .com hipsters love!</h2>

<table id='article_list'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author name</th>
        <th>Body</th>
        <th>Created at</th>
        <th></th>
      </tr>
    </thead>
    <tfoot>
        <td colspan='6'>
            <p><%= pluralize(@articles.size, 'article') %>.</p>
        </td>
    </foot>
    <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= h article.title %></td>
            <td><%= h article.author_name %></td>
            <td><%= truncate(strip_tags(article.body), length: 20) %></td>
            <td><%= article.created_at.to_s(:datetime) %></td>
            <td><%= link_to image_tag('zoom.png'), article, :title => "view article" %></td>
            <td><%= link_to image_tag('application_form_edit.png'), edit_article_path(article), :title => "edit article" %></td>
            <td><%= link_to image_tag('delete.png'), article, confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
