%h2.subtitle ...my sister said enjoy the articles. You'd better. She's good with a bow and arrow...
%ul.menubar
  %li= link_to "articles", articles_path
  %li= link_to "authors", authors_path
= render 'form'
= link_to 'Show', @author
|
\#{link_to 'Back', authors_path}
