<!DOCTYPE html>
<html>
<head>
  <title>Gamez</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> <%= link_to 'Gamez', root_path %> </h1>
<div id="user_nav">
	<% if user_signed_in? %>
		Signed in as <%= current_user.email %> Not you? <%= link_to "log out", destroy_user_session_path %>
	<% else %>
		<%= link_to "log in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %>
	<% end %>
</div>
<%= yield %>

</body>
</html>
