%h2.subtitle ...with a name .com hipsters love!
%ul.menubar
  %li= link_to "articles", articles_path
  %li= link_to "authors", authors_path

#new_article
  \#{link_to image_tag('add.png'), new_article_path, :title => "create new article"}
  \#{link_to 'New Article', new_article_path, :title => "create new article"}
%p.pagination_bar= will_paginate @articles
%table#article_list
  %thead
    %tr
      %th Title
      %th Author name
      %th Body
      %th Created at
      %th
  %tfoot
    %td{:colspan => "6"}
      %p
        = pluralize(@total_articles.size, 'article')
        \.
  %tbody
    - @articles.each do |article|
      %tr
        %td= h article.title
        %td= h article.author.name
        %td= truncate(strip_tags(article.body), length: 20)
        %td= article.created_at.to_s(:datetime)
        %td= link_to image_tag('zoom.png'), article, :title => "view article"
        %td= link_to image_tag('application_form_edit.png'), edit_article_path(article), :title => "edit article"
        %td= link_to image_tag('delete.png'), article, confirm: 'Are you sure?', method: :delete, :title => "delete article"


%br/
%p.pagination_bar= will_paginate @articles
